@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

:root {
	--primary-color--dark: #1c2c35;
	--primary-color: #2f4858;
	--grey-color-light: #e6e9ef;
	--accent-color: #f6ae2d;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--primary-color--dark);
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
}

h1 {
	font-size: 4rem;
	letter-spacing: 1px;
}

h1 span {
	display: block;
	color: var(--accent-color);
}

h3 {
	font-size: 2.4rem;
	letter-spacing: 0.4px;
	font-weight: 200;
}

.container {
	background-color: var(--primary-color);
	color: var(--grey-color-light);
	width: 800px;
	display: flex;
	flex-direction: column;
	padding: 2rem 4rem;
	border-radius: 10px;
}

.options {
	font-size: 2rem;
	margin: 6rem 0;
}

.option {
	display: flex;
	justify-content: start;
	padding: 0.4rem 0;
	margin-bottom: 1.2rem;
}

.option label {
	flex-basis: 280px;
	font-weight: 300;
}

#length {
	background-color: var(--primary-color--dark);
	font-size: 2.4rem;
	font-family: inherit;
	border: 0;
	width: 20%;
	border-radius: 4px;
	color: var(--accent-color);
}

input[type='checkbox'] {
	appearance: none;
	width: 3rem;
	height: 3rem;
	background-color: var(--primary-color--dark);
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

input[type='checkbox']:after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 2.4rem;
	content: '\f00c';
	height: 2.2rem;
	width: 2.2rem;
	color: #f6ae2d;
	border-radius: 4px;
	display: none;
}

input[type='checkbox']:hover {
	background-color: #1c2c35a2;
}

input[type='checkbox']:checked:after {
	display: block;
}

.btn {
	display: inline-block;
	background-color: var(--accent-color);
	border: 0;
	border-radius: 4px;
	padding: 0.8rem 1.6rem;
	font-family: inherit;
	font-size: 2.4rem;
	margin: 4rem 0;
	transition: all 0.2s ease-out;
}

.btn:hover {
	background-color: var(--primary-color--dark);
	color: var(--accent-color);
}

.btn:active {
	transform: scale(0.95);
}

.passwords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2.4rem;
	margin: 2.4rem 0;
}

.password-suggestion {
	background-color: var(--primary-color--dark);
	font-size: inherit;
	font-family: inherit;
	border: 0;
	padding: 0.8rem 1.6rem;
	width: 48%;
	border-radius: 4px;
	color: var(--accent-color);
	transition: background-color 0.4s ease-out;
}

.password-suggestion:active,
.password-suggestion:focus {
	outline: 1px solid var(--accent-color);
}

.password-suggestion.copied {
	background-color: var(--primary-color);
}
